<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Create Category</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{~/site.css}">
</head>
<body>

<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container1">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Insertions</a>
            <a class="navbar-brand" href="#" th:href="@{/userInsertions}">UserInsertions</a>
            <a class="navbar-brand" href="#" th:href="@{/Category/listCategory}">Categories</a>
        </div>
    </div>
</nav>

<br>
<br>
<!-- Create HTML registration form -->
<div class="container">
    <div>
        <!-- success message -->
        <div th:if="${param.success}">
            <div class="alert alert-info">You've successfully created new Category</div>
        </div>

        <h1>Create insertion</h1>

        <form th:action="@{./createInsertion}" method="post" th:object="${insertion}" enctype="multipart/form-data">
            <div class="form-group">
                <label class="control-label" for="name"> Insertion name</label>
                <input id="name" class="form-control input50" th:field="*{name}"
                       required autofocus="autofocus" />
                <label class="control-label" for="description"> Insertion description</label>
                <input id="description" class="form-control input50" th:field="*{description}"
                       required autofocus="autofocus" />
                <label class="control-label" for="price"> Insertion price</label>
                <input id="price" class="form-control input50" th:field="*{price}"
                       required autofocus="autofocus" />
                <label class="control-label" for="user"> Insertion user</label>
                <input id="user" class="form-control input50" th:value="${#request.userPrincipal.getName()}"
                       required disabled autofocus="autofocus" />
                <label class="control-label" for="category"> Insertion category</label>
                <select th:name="id_category" class="form-control input50" required="required" id="category">
                    <option disabled="disabled" selected="selected">select category</option>
                    <option  th:each="category : ${categories}"
                             th:value="${category.id_category}"
                             th:text="${category.getName()}" ></option>
                </select>
                <label class="control-label" for="subCategory"> Insertion subCategory</label>
                <select th:name="id_subcategory" class="form-control input50" required="required" id="subCategory">
                    <option disabled="disabled" selected="selected">select category</option>
                    <option th:each="subCategory : ${subCategories}"
                            th:value="${subCategory.id_subcategory}"
                            th:text="${subCategory.getName()}" ></option>
                </select>
                <!--                                th:if="${subCategory.category.getId_category() == 1}"-->
                <label class="control-label" for="file">Select image:</label>
                <input th:name="file" type="file" id="file" name="file" accept="image/*">
                <br>
                <button type="submit" class="btn btn-success">Create</button>
            </div>

        </form>
        <a th:href="@{/}">Back to main page</a>
    </div>
</div>
</body>
</html>