<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>Detail insertion</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{~/site.css}">
</head>
<body>

<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container1">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Insertions</a>
            <a class="navbar-brand" href="#" th:href="@{/userInsertions}">UserInsertions</a>
            <a class="navbar-brand" href="#" th:href="@{/Category/listCategory}">Categories</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<br>
<br>
<!-- Create HTML registration form -->
<div class="container">
        <div>
            <!-- success message -->
            <div th:if="${param.success}">
                <div class="alert alert-info">You've successfully created new Category</div>
            </div>

            <h1>Detail insertion</h1>
                <div class="form-group">
                    <label class="control-label" for="name"> Insertion name</label>
                    <input id="name" class="form-control input50" th:field="*{insertion.name}"
                           required readonly autofocus="autofocus" />
                    <label class="control-label" for="description"> Insertion description</label>
                    <input id="description" class="form-control input50" th:field="*{insertion.description}"
                           required readonly autofocus="autofocus" />
                    <label class="control-label" for="price"> Insertion price</label>
                    <input id="price" class="form-control input50" th:field="*{insertion.price}"
                           required readonly autofocus="autofocus" />
                    <label class="control-label" for="user"> Insertion user</label>
                    <input id="user" class="form-control input50" th:value="${insertion.user.email}"
                           required readonly autofocus="autofocus" />
                    <label class="control-label" for="category"> Insertion category</label>
                    <input id="category" class="form-control input50" th:value="${insertion.category.name}"
                           required readonly autofocus="autofocus" />
                    <label class="control-label" for="subCategory"> Insertion subcategory</label>
                    <input id="subCategory" class="form-control input50" th:value="${insertion.subCategory.name}"
                           required readonly autofocus="autofocus" />
                    <br>
                    <a th:href="@{/Mail/sendMail(id=${insertion.id_insertion})}"><button class="btn btn-success">Answer for insertion</button></a>
                    <img th:src="${source}" alt="inserted img">

                </div>
            <a th:href="@{/}">Back to main page</a>
        </div>
</div>
</body>
</html>