<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Insertions</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{~/site.css}">
</head>
<body>
<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container1">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Insertions</a>
            <a class="navbar-brand" href="#" th:href="@{/userInsertions}">UserInsertions</a>
            <a class="navbar-brand" href="#" th:href="@{/Category/listCategory}">Categories</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<br>
<br>

<div class="container">
    <h1>Newest insertions</h1>
    <a th:href="@{/userInsertions}">My insertions |</a>
    <a th:href="@{/Insertion/createInsertion}"> Create insertion</a>
<div class="filter-div">
    <form th:action="@{/}" method="post" th:object="${categories}">
        <br>
        <label class="control-label" for="category"> Filter category</label>
        <select th:name="id_category" class="form-control filter" required="required" id="category" onchange="this.form.submit()">
            <option disabled="disabled" selected="selected">select category</option>
            <option  th:each="category : ${categories}"
                     th:value="${category.id_category}"
                     th:text="${category.getName()}" ></option>
        </select>
<!--        <button type="submit" class="btn btn-success">Filter</button>-->
    </form>
    <input type="text" id="filter" onkeyup="myFunction()" placeholder="Search in table...">
</div>
    <br>
    <table id="myTable" class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col"> Insertion </th>
            <th scope="col"> Description </th>
            <th scope="col"> Price </th>
            <th scope="col"> Category </th>
            <th scope="col"> Sub category </th>
            <th scope="col"> User </th>
            <th scope="col"> Date </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="insertion : ${insertions}">
            <td><a th:href="@{/Insertion/detailInsertion(id=${insertion.id_insertion})}" ><span th:text="${insertion.name}"> Insertion </span></a></td>
            <td><span th:text="${insertion.description}"> Description </span></td>
            <td><span th:text="${insertion.price} + ' Czk'"> Price </span></td>
            <td><span th:text="${insertion.category.name}"> Category </span></td>
            <td><span th:text="${insertion.subCategory.name}"> Sub category </span></td>
            <td><span th:text="${insertion.user.email}"> User </span></td>
            <td><span th:text="${insertion.created}"> Date </span></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<script>
    function myFunction() {
        const filter = document.querySelector('#filter').value.toUpperCase();
        const trs = document.querySelectorAll('#myTable tr:not(.header)');
        trs.forEach(tr => tr.style.display = [...tr.children].find(td => td.innerHTML.toUpperCase().includes(filter)) ? '' : 'none');
    }
</script>
</html>